@import var

/* base */

*
  box-sizing: border-box

/* body */

body
  margin: 0px
  color: $black
  font: 400 $paragraph $sans
  font-style: normal

/* links */

a
  color: $black
  text-decoration: none

  &.padded
    @include trn-ease(all)
    &:hover, &:active
      padding-left: $g

a.button
  @include cardbox($pad: 0)
  @include max-width($grid-xs)
  @include trn-ease(all)
  @include flexbox-col
  background: $mac
  cursor: pointer

  color: $white
  font: 500 $subtitle $serf
  line-height: 6*$g

  &:hover
    background: rgba($mac, 0.87)
    @include elevate(6)

  &:active
    background: rgba($mac, 0.72)
    @include elevate(1)

  &.large
    @include max-width($grid-s)

  &.negative
    background: $white
    color: $black

    &:hover
      background: rgba($white, 0.87)

    &:active
      background: rgba($white, 0.72)

/* lists */

ul
  list-style-type: none
  margin: 0px
  padding: 0px

/* close cross */

div.closecross
  position: absolute
  top: 1*$g
  right: 1*$g
  width: 2*$g
  height: 2*$g
  cursor: pointer

  span
    position: absolute
    display: block
    top: 1*$g
    right: 0
    width: 2*$g
    height: 1px
    background: $black
      
    &.fwd
      transform: rotate(45deg)
      
    &.bwd
      transform: rotate(-45deg)

@media (max-width: 64*$g)
  div.closecross
    left: 1*$g
    right: auto

/* break */

div.break
  margin: 1*$g 0px

  &.big
    margin: 2*$g 0px

  &.small
    margin: 0.5*$g 0px

  &.vertical
    margin: 0px 1*$g

div.linebreak
  @include max-width($grid-s)
  margin: 1*$g 0px
  height: 1px
  background: $black

  &.long
    @include max-width($grid-m)

/* headers */

h1, h2, h3, h4, h5, h6
  margin: 4*$g 0px
  color: $black
  font: 900 $headline $serf
  font-style: normal

h2, h3
  margin: 3*$g 0px
  font-weight: 800

h3, h4
  font: 700 $title

h4, h5, h6
  margin: 2*$g 0px
  font-weight: 600

h5, h6
  font-size: $subtitle
  font-style: italic

h6
  margin: 1*$g 0px

/* paragraph */

p
  margin: 0px

/* forms */
.form-control:focus
  border-color: inherit
  -webkit-box-shadow: none
  box-shadow: none

form
  margin: 0px

input, select, textarea
  -webkit-appearance: none
  appearance: none
  margin: 0px
  padding: 0px
  border: none 0px $black
  outline: none

  &:focus
    outline: none

  &[type=number]::-webkit-inner-spin-button,
  &[type=number]::-webkit-outer-spin-button
    -webkit-appearance: none
    margin: 0

textarea
  resize: none
