email_validator
flask
flask_featureflags
flask-login
flask-mail
git+https://github.com/dcolish/flask-markdown.git
flask-migrate
flask-pagedown
flask-sqlalchemy
flask-wtf
libsass
pyjwt
python-dotenv
pandas # only for db import
