/* colours */
/* typography */
/* grid */
/* transition */
/* elevation */
/* boxes */
/* base */
* {
  box-sizing: border-box; }

/* body */
body {
  margin: 0px;
  color: #151414;
  font: 400 14px Lato, sans-serif;
  font-style: normal; }

/* links */
a {
  color: #151414;
  text-decoration: none; }
  a.padded {
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }
    a.padded:hover, a.padded:active {
      padding-left: 6px; }

a.button {
  padding: 0px;
  border-radius: 6px;
  z-index: 3;
  box-shadow: 0 1.5px 1.5px -0.75px rgba(0, 0, 0, 0.2), 0 3px 4.5px 0.375px rgba(0, 0, 0, 0.14), 0 0.375px 9px 0.9px rgba(0, 0, 0, 0.12);
  width: 100%;
  max-width: 144px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background: #9f3842;
  cursor: pointer;
  color: #f5f4f4;
  font: 500 16px Lora, Garamond, serif;
  line-height: 36px; }
  a.button:hover {
    background: rgba(159, 56, 66, 0.87);
    z-index: 6;
    box-shadow: 0 3px 3px -1.5px rgba(0, 0, 0, 0.2), 0 6px 9px 0.75px rgba(0, 0, 0, 0.14), 0 0.75px 18px 1.8px rgba(0, 0, 0, 0.12); }
  a.button:active {
    background: rgba(159, 56, 66, 0.72);
    z-index: 1;
    box-shadow: 0 0.5px 0.5px -0.25px rgba(0, 0, 0, 0.2), 0 1px 1.5px 0.125px rgba(0, 0, 0, 0.14), 0 0.125px 3px 0.3px rgba(0, 0, 0, 0.12); }
  a.button.large {
    width: 100%;
    max-width: 288px; }
  a.button.negative {
    background: #f5f4f4;
    color: #151414; }
    a.button.negative:hover {
      background: rgba(245, 244, 244, 0.87); }
    a.button.negative:active {
      background: rgba(245, 244, 244, 0.72); }

/* lists */
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

/* close cross */
div.closecross {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 12px;
  height: 12px;
  cursor: pointer; }
  div.closecross span {
    position: absolute;
    display: block;
    top: 6px;
    right: 0;
    width: 12px;
    height: 1px;
    background: #151414; }
    div.closecross span.fwd {
      transform: rotate(45deg); }
    div.closecross span.bwd {
      transform: rotate(-45deg); }

@media (max-width: 384px) {
  div.closecross {
    left: 6px;
    right: auto; } }

/* break */
div.break {
  margin: 6px 0px; }
  div.break.big {
    margin: 12px 0px; }
  div.break.small {
    margin: 3px 0px; }
  div.break.vertical {
    margin: 0px 6px; }

div.linebreak {
  width: 100%;
  max-width: 288px;
  margin: 6px 0px;
  height: 1px;
  background: #151414; }
  div.linebreak.long {
    width: 100%;
    max-width: 432px; }

/* headers */
h1, h2, h3, h4, h5, h6 {
  margin: 24px 0px;
  color: #151414;
  font: 900 24px Lora, Garamond, serif;
  font-style: normal; }

h2, h3 {
  margin: 18px 0px;
  font-weight: 800; }

h3, h4 {
  font: 700 20px; }

h4, h5, h6 {
  margin: 12px 0px;
  font-weight: 600; }

h5, h6 {
  font-size: 16px;
  font-style: italic; }

h6 {
  margin: 6px 0px; }

/* paragraph */
p {
  margin: 0px; }

/* forms */
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none; }

form {
  margin: 0px; }

input, select, textarea {
  -webkit-appearance: none;
  appearance: none;
  margin: 0px;
  padding: 0px;
  border: none 0px #151414;
  outline: none; }
  input:focus, select:focus, textarea:focus {
    outline: none; }
  input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button, select[type=number]::-webkit-inner-spin-button, select[type=number]::-webkit-outer-spin-button, textarea[type=number]::-webkit-inner-spin-button, textarea[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }

textarea {
  resize: none; }

/*# sourceMappingURL=reset.sass.css.map */