{% macro textfield(field, class="", last=False) -%}
<span class="field">
  {{ field(placeholder=" ", class=class) }}
  {{ field.label }}
  {% for error in field.errors %}
    <p class="error">{{ error }}</p>
  {% endfor %}
</span>
{% if not last %}
  <div class="break"></div>
{% endif %}
{%- endmacro %}

{% macro textarea(field, last=False) -%}
<span class="field textarea">
  {{ field(placeholder=" ") }}
  {{ field.label }}
  {% for error in field.errors %}
    <p class="error">{{ error }}</p>
  {% endfor %}
</span>
{% if not last %}
  <div class="break"></div>
{% endif %}
{%- endmacro %}

{% macro searchfield(field, button, last=False) -%}
<span class="field search">
  {{ field(placeholder=" ") }}
  {{ field.label }}
  {% for error in field.errors %}
    <p class="error">{{ error }}</p>
  {% endfor %}
{{ button() }}
</span>

{% if not last %}
  <div class="break"></div>
{% endif %}
{%- endmacro %}

{% macro selectfield(field, last=False) -%}
<span class="field">
  {{ field(placeholder=" ") }}
  {{ field.label }}
  {% for error in field.errors %}
    <p class="error">{{ error }}</p>
  {% endfor %}
</span>
{% if not last %}
  <div class="break"></div>
{% endif %}
{%- endmacro %}

{% macro checkfield(field, last=False) -%}
<span class="switch">
  {{ field }}
  {{ field.label }}
</span>
{% if not last %}
  <div class="break"></div>
{% endif %}
{%- endmacro %}

{% macro switchfield(field, last=False) -%}
<span class="switch">
  {{ field(class_="switch") }}
  {{ field.label }}
</span>
{% if not last %}
  <div class="break"></div>
{% endif %}
{%- endmacro %}
