<!doctype html>
<html lang="en" {# outblock language #}>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

    <title>{%- block title -%}Koło Matematyków Studentów{%- endblock -%}</title>
    <meta name="author" content="Filip Przybycień">

    {%- block head -%}{%- endblock -%}

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/reset.sass.css') }}" rel="stylesheet" type="text/css">
    {%- block css -%}{%- endblock -%}
</head>
<body>
<div style="position: fixed; top: 0; left: 0; z-index: 1000; width: 15%;">
    <a href="{{ url_for('base.fix') }}">
        <img alt="help" src="{{ url_for('static', filename='images/icons/help_button.png') }}" style="width: 100%" />
    </a>
</div>
{%- block body -%}{%- endblock -%}
{%- block js -%}{%- endblock -%}
</body>
</html>
