
{% extends "fellow/_auth.html" %}

{% block css %}
{{ super() }}
<link href="{{ url_for('static', filename='css/dike/ballot.sass.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="ballot fieldset" id="board">
    <label class="fieldset">Zarząd</label>
    {% for position in board %}
    {% if position == 'covision' %}
    {% else %}
        {% if position == 'free' %}
            {% for member in board[position] %}
            <article class="candidate">
                <label>{{ member.repr() }}</label>
            </article>
            {% endfor %}
        {% else %}
            <article class="candidate {% if position == 'boss' %}elected picked{% endif %}">
                <label>{{ board[position].repr() }}</label>
            </article>
        {% endif %}
    {% endif %}
    {% endfor %}
</section>
<div class="break"></div>
<section class="ballot fieldset" id="covision">
    <label class="fieldset">Komisja Rewizyjna</label>
    {% for position in board %}
    {% if position == 'covision' %}
        {% for member in board[position] %}
        <article class="candidate">
            <label>{{ member.repr() }}</label>
        </article>
        {% endfor %}
    {% endif %}
    {% endfor %}
</section>
<div class="break"></div>

<p>Entitled to vote checksum: {{ entitled_checksum }}</p>
<div class="break"></div>

<form action="" method="post" novalidate>
    {{ form.csrf_token }}
    <section class="fieldset">
        {{ form.submit() }}
    </section>
</form>
{% endblock %}
