{% extends "fellow/_auth.html" %}

{% block css %}
{{ super() }}
<link href="{{ url_for('static', filename='css/dike/panel.sass.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/dike/ballot.sass.css') }}" rel="stylesheet">
{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename='js/dike/panel.js') }}"></script>
{% endblock %}

{% block content %}
{% if mode == 'inactive' %}
<form action="" method="post" novalidate>
    {{ form.csrf_token }}
    {{ form.begin_election(class='negative large') }}
</form>

{% elif mode == 'register' %}
<form action="" method="post" novalidate>
    {{ form.csrf_token }}
    {{ form.begin_voting_boss(class='negative large') }}
    <div class="break"></div>
    {{ form.begin_voting_board(class='negative large') }}
    <div class="break"></div>
    {{ form.begin_voting_covision(class='negative large') }}
    <div class="linebreak"></div>
    {{ form.unregister_candidates(class='negative') }}
<div class="break"></div>
{% for position in electoral %}
<section class="ballot fieldset" id="{{position.name}}">
    <label class="fieldset">{{position.repname}}</label>
    {% for candidate in electoral[position] %}
    <article class="candidate">
        {% set name = position.id ~ "+" ~ candidate.id %}
        {{ form[name|string](class="position") }}
        <label>{{ candidate.repr() }}</label>
        <div class="veto_button">X</div>
    </article>
    {% endfor %}
</section>
<div class="break"></div>
{% endfor %}
</form>

{% elif mode == 'voting' %}
<form action="" method="post" novalidate>
    {{ form.csrf_token }}
    {{ form.end_voting(class='negative large') }}
</form>
<div class="break long"></div>
<section id="votercount">
    <span class="card top"></span>
    <span class="card bottom"></span>
    <div class="count">{{ count }}</div>
</section>
<div class="break long"></div>
<p>Entitled to vote checksum: {{ entitled_checksum }}</p>

{% endif %}
{% endblock %}
