{% extends "base/_base.html" %}
{% block css %}
{{ super() }}
<link href="{{ url_for('static', filename='css/base/board.sass.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<article class="boardcard">
    <h4>Natalia Potocka</h4>
    <h6>prezes</h6>
</article>
<div class="linebreak"></div>
<article class="boardcard">
    <h4>Dawid "Edek" Gawlina</h4>
    <h6>wiceprezes</h6>
</article>
<div class="linebreak"></div>
<article class="boardcard">
    <h4>Patryk Gzyl</h4>
    <h6>skarbnik</h6>
</article>
<div class="linebreak"></div>
<article class="boardcard">
    <h4>Zosia Glapa</h4>
    <h6>sekretarz</h6>
</article>
<div class="linebreak"></div>
<article class="boardcard">
    <h4>Aliaksandra Novik</h4>
    <h6>bibliotkerz</h6>
</article>
<div class="linebreak"></div>
<article class="boardcard">
    <h4>Alicja Ragus</h4>
    <h6>kronikarz</h6>
</article>
<div class="linebreak"></div>
<article class="boardcard">
    <h4>Inga Dyląg</h4>
    <h6>wolny członek</h6>
</article>
<div class="linebreak long"></div>
<article class="boardcard">
    <h4>Michał Lipieta</h4>
    <h6>komisja rewizyjna</h6>
</article>
<div class="linebreak"></div>
<article class="boardcard">
    <h4>Joanna Ginalska</h4>
    <h6>komisja rewizyjna</h6>
</article>
<div class="linebreak"></div>
<article class="boardcard">
    <h4>Vladyslav Zveryk</h4>
    <h6>komisja rewizyjna</h6>
</article>
{% endblock %}
