{% extends "base/_base.html" %}
{% block css %}
  {{ super() }}
  <link href="{{ url_for('static', filename='css/base/board.sass.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<article class="boardcard">
  <h4>{{ board['prezes'].repr() }}</h4>
  <h7>{{ board['prezes'].email }}</h7>
  <h6>prezes</h6>
</article>
<div class="linebreak"></div>
<article class="boardcard">
  <h4>{{ board['vice'].repr() }}</h4>
  <h7>{{ board['vice'].email }}</h7>
  <h6>wiceprezes</h6>
</article>
<div class="linebreak"></div>
<article class="boardcard">
  <h4>{{ board['skarbnik'].repr() }}</h4>
  <h7>{{ board['skarbnik'].email }}</h7>
  <h6>skarbnik</h6>
</article>
<div class="linebreak"></div>
<article class="boardcard">
  <h4>{{ board['sekretarz'].repr() }}</h4>
  <h7>{{ board['sekretarz'].email }}</h7>
  <h6>sekretarz</h6>
</article>
<div class="linebreak"></div>
<article class="boardcard">
  <h4>{{ board['bibliotekarz'].repr() }}</h4>
  <h7>{{ board['bibliotekarz'].email }}</h7>
  <h6>bibliotkerz</h6>
</article>
<div class="linebreak"></div>
{% for fellow in board['wolny'] %}
  <article class="boardcard">
    <h4>{{ fellow.repr() }}</h4>
    <h7>{{ fellow.email }}</h7>
    <h6>wolny członek</h6>
  </article>
  {% if not loop.last %}
    <div class="linebreak"></div>
  {% endif %}
{% endfor %}
<div class="linebreak long"></div>
{% for fellow in board['komisja'] %}
  <article class="boardcard">
    <h4>{{ fellow.repr() }}</h4>
    <h7>{{ fellow.email }}</h7>
    <h6>komisja rewizyjna</h6>
  </article>
  {% if not loop.last %}
    <div class="linebreak"></div>
  {% endif %}
{% endfor %}
{% endblock %}
