{% extends "base/_base.html" %}

{% block css %}
{{ super() }}
<link href="{{ url_for('static', filename='css/article/article.sass.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<article class="article">
    <section class="articlebody">
        <p>Historia Koła Matematyków Studentów zaczyna się 3 grudnia 1893 roku na tzw. „zebraniu przedwstępnym”. Wtedy
            20 studentów matematyki i fizyki Wydziału Filozoficznego Uniwersytetu Jagiellońskiego postanowiło założyć
            Kółko Matematyczno-Fizyczne Uczniów Uniwersytetu Jagiellońskiego. Wybrano pierwszy zarząd, którego
            przewodniczącym został Zdzisław Krygowski. Jego zastępcą został T. Zajączkowski, a kuratorem Kółka – prof.
            Władysław Natanson. Pierwsze Walne Zebranie Kółka odbyło się 22 kwietnia 1894 roku. Ustalono na nim, że
            zebrania zwyczajne będą odbywały się w niedziele przynajmniej raz na dwa tygodnie oraz że ich centralnym
            punktem będą odczyty wygłaszane głównie przez ówczesnych studentów matematyki i fizyki UJ, ale również
            pracowników naukowych UJ.</p>

        <p>Po prężnych pierwszych latach działalności aktywność Kółka stała się nieco mniej intensywna jednak ożywił ją
            wybrany w roku 1900 prezes Antoni Hoborski. Organizowano zebrania z referatami, które nazywano wtedy
            posiedzeniami naukowymi i utworzono na nowo bibliotekę, która choć w 1901 r. liczyła 47 książek to stała się
            zalążkiem dla wspaniałej Biblioteki Koła.</p>

        <p>Przede wszystkim jednak w tamtym czasie rozpoczęto działalność wydawniczą Kółka. W roku 1902 podjęło się ono
            wydawania autografowanych wykładów prof. Stanisława Zaremby, później powołano nawet komitet redakcyjny i
            wydawano rocznie po kilka książek i skryptów z zakresu matematyki i fizyki. Warto zaznaczyć znaczenie tej
            trwającej wiele lat akcji wydawniczej Kółka. Na początku XX wieku brakowało dobrych podręczników
            akademickich dla matematyków i fizyków, a wydane wówczas książki i skrypty są świadectwem prężnej
            działalności naukowej uniwersyteckich matematyków i fizyków w tamtych czasach. Wiele wykładów przepisywano i
            litografowano, a po I wojnie światowej prowadzono działalność wydawniczą na wielką skalę. Drukiem ukazały
            się liczne znakomite matematyczne pozycje, od roku 1932 opatrzone wspólnym nagłówkiem „Bibljoteczka Kółka
            Mat.-Fiz. U.U.J”. Numerem pierwszym była „Arytmetyka liczb całkowitych” Witolda Wilkosza, ówczesnego
            Kuratora Kółka. Wydawano książki napisane przez Stanisława Zarembę, Witolda Wilkosza, Alfreda Rosenblatta,
            Antoniego Hoborskiego i Jana Sleszyńskiego. O „Teorii dowodu” Jana Sleszyńskiego Stanisław Gołąb pisał w
            roku 1964, że: „i dziś jeszcze zasługiwałaby na ogłoszenie w obcym języku. Na ówczesne czasy był to
            podręcznik rewelacyjny”.</p>

        <p>Po I wojnie światowej oprócz prowadzenia biblioteki oraz działalności wydawniczej i naukowej prowadzono
            działalność gospodarczą Kółka. Kółko posiadało wówczas spory majątek – oprócz zawartości biblioteki
            stanowiły go m. in. maszyna do pisania i powielacz. W okresie międzywojennym zorganizowano szczególnie wiele
            imprez o charakterze turystycznym, sportowym, towarzyskim i kulturalnym. Liczba członków dochodziła nawet do
            200, a byli wśród nich między innymi: Stanisław Zaremba, Stanisław Gołąb, Andrzej Turowicz, Kazimierz
            Kordylewski. Opiekunami byli m. in. Witold Wilkosz i Stanisław Zaremba.</p>

        <p>W czasie okupacji hitlerowskiej Bronisławowi Średniawie, ówczesnemu prezesowi, udało się uratować część
            biblioteki Koła, zanim lokal został zapieczętowany. Książki te stanowiły ogromną pomoc w tajnym nauczaniu i
            pracy naukowej – biblioteka Kółka stanowiła zatem część biblioteki podziemnego Uniwersytetu
            Jagiellońskiego.</p>

        <p>W roku 1945 Kółko wznowiło aktywną działalność – powiększono zbiory biblioteczne, wydawano skrypty i inne
            druki, rozwinięto akcję samopomocy w nauce (starsi studenci prowadzili repetytoria dla młodszych, dla tych
            pierwszych natomiast pomocnicze zajęcia prowadzili asystenci), prowadzono akcję odczytową i bezpłatne
            korepetycje dla młodzieży licealnej. Członkami byli wówczas m. in. Zbigniew Opial, Stanisław Łojasiewicz,
            Kazimierz Grotowski, Włodzimierz Mlak. Kuratorem był prof. Franciszek Leja.</p>

        <p>W roku 1950 zmieniono nazwę Kółka na Koło Matematyczno-Fizyczne Studentów Uniwersytetu Jagiellońskiego,
            jednak jeszcze w tym roku w ramach reorganizacji kół naukowych Koło to przestało istnieć. W sprawozdaniu z
            zebrania zarządu 12 października 1950 oznajmiono, że w związku z instrukcjami otrzymanymi przez niego na
            odprawie przewodniczących Kół Naukowych likwidacja Koła została zapowiedziana około na 20 października 1950.
            Utworzone miały zostać nowe Koła Naukowe, do których wejdzie ok. 20% ogólnej liczby studentów, a Bibliotekę
            Koła przejmie Senat Akademicki, resztę inwentarza Zrzeszenie Studentów Polski. Kilka tygodni później
            członkowie Koła zastali swój lokal zapieczętowany. Trzeba podkreślić, że likwidacja ta nie była aktem
            prawnym, a jej podłożem była nieudana próba ideologicznej indoktrynacji członków Koła. Koło jednak nadal
            pracowało, tyle że chwilami bez oficjalnie powołanych władz oraz dostępu do Biblioteki Koła.</p>

        <p>Koło reaktywowano 20 marca 1959 r. Wówczas powstały dwa osobne koła: Naukowe Koło Fizyków UJ oraz Koło
            Matematyków Studentów UJ. Warto tu zaznaczyć, że z KMS UJ w roku 1975/76 wyodrębniło się Koło Studentów
            Informatyki UJ, w roku 2010 Koło Naukowe Matematyki Finansowej UJ, a z NKF UJ w roku 1983/84 – Naukowe Koło
            Astronomów Studentów UJ, zatem z założonego w 1893 roku Kółka wykształciło się aż pięć! Przy reaktywacji
            zdecydowano, że Koło obok działalności naukowej będzie organizować także inicjatywy towarzyskie i
            kulturalne. Prezesem Koła Matematyków Studentów UJ został Stanisław Brzychczy. Po reaktywacji Koło
            kontynuowało inicjatywy naukowe – organizowano zebrania, odczyty i referaty, członkowie brali udział w
            zjazdach i spotkaniach naukowych. Odbywały się akcje odczytowe, podczas których wykładali wybitni i znani
            matematycy – m. in. Stanisław Łojasiewicz, ks. Andrzej Turowicz, Zdzisław Opial, Stanisław Gołąb, Franciszek
            Leja. Skryptów już nie drukowano, ale odbywały się regularne referaty studenckie, działała odzyskana
            biblioteka, organizowano bale matematyków, a pod koniec lat sześćdziesiątych zaczęły się odbywać wyjazdy
            turystyczno-naukowe: Szkoły Letnie i Zimowe. Tradycja organizacji co roku tych dwóch wydarzeń, a poźniej i
            Quasinariów Wiosennych i Jesiennych dotrwała do dnia dzisiejszego. W 1962 roku Koło współorganizowało – wraz
            z Kołami AGH i WSP – VII Ogólnopolski Zjazd Kół Matematycznych, który odbył się w Krakowie.</p>

        <p>W roku 1970 przy Kole powstał Instytut Matematyki Najwspółcześniejszej. Uczestniczący w jego pracach studenci
            gromadzili osiągnięcia owej niestandardowej matematyki, często inspirowani kursowymi wykładami. Powstało
            wiele awangardowych teorii, co zaowocowało wydaniem w 1978 r. skryptu „Rozmaitości absurdalne wraz z
            elementami logiki nieformalnej”. Innym dokonaniem IMN było notowanie cytatów z wykładów, potem wykładowcy
            byli odznaczani Brązowymi, Srebrnymi i Złotymi Cudzysłowami, a Andrzej Lasota dorobił się nawet Złotego
            Cudzysłowu ze wstęgą Möbiusa. Niektóre cytaty nawet ilustrowano. Działalność wydawnicza Koła w tym okresie
            była możliwa dzięki kontynuowaniu współpracy z Technikum Poligraficznym, którą nawiązał Zarząd za prezesa
            Antoniego Leona Dawidowicza (73/74, 74/75) – uczniowie drukowali materiały dla Koła w zamian za
            korepetycje.</p>

        <p>Rok 1974 był dla Koła bardzo istotny. Zmieniono jego nazwę na Koło Matematyków Studentów Uniwersytetu
            Jagiellońskiego im. prof. Stanisława Zaremby. Zgodnie z tradycją przed Uroczystością Wszystkich Świętych
            przedstawiciele Koła złożyli kwiaty na grobie prof. Stanisława Zaremby i właśnie wtedy pojawiła się
            inicjatywa, by Kołu nadać jego imię. Zorganizowaliśmy Nadzwyczajne Walne Zebranie, na którym przyjęliśmy
            stosowną uchwałę. Od tego momentu liczy się też członków honorowych – pierwszymi po zmianie nazwy zostali:
            wieloletni opiekun Koła prof. Stanisław Gołąb, syn Patrona – prof. Stanisław Krystyn Zaremba oraz wielki
            przyjaciel Koła, odchodzący właśnie na emeryturę woźny Instytutu Matematyki Józef Gurgul. W tym roku
            opiekunem Koła został prof. Józef Siciak.</p>

        <p>Koło stopniowo się rozwijało i prężnie działało – na przykład w roku 1976, za prezesury Macieja Klimka (to
            właśnie on zaproponował symbol Koła – sigmę-całkę – w jego obecnej postaci), członkowie Zarządu samodzielnie
            zorganizowali w Krakowie XI Ogólnopolski Zjazd Naukowych Kół Matematycznych. Kolejnemu Prezesowi
            Krzysztofowi Ciesielskiemu (77/78 i 78/79) wraz z Zarządem, w którego skład wchodzili m. in. Zdzisław Pogoda
            i Piotr Tworzewski, udało się zachęcić do pracy w Kole i zainteresować jego działalnością tak wiele osób, że
            Walne Zebrania musiały zacząć się odbywać w dużej sali 545 ówczesnego budynku Wydziału przy ulicy Reymonta
            4.</p>

        <p>W roku 1978 Koło, na wzór mistrzów ze Lwowa, otwarło „Herbaciarnię Szkocką”. Tam studenci stawiali problemy,
            fundując nagrody za rozwiązanie. Oferowano wtedy tabliczkę czekolady, pepsi-colę, baterię płaską; dziś brzmi
            to banalnie, ale wtedy były to nagrody praktycznie nieosiągalne w sklepach. Problemy notowano w specjalnej
            „Książeczce Szkockiej”. Największą sławę osiągnął problem nr 48 nazwany później problemem izometrii,
            postawiony w roku 1979 przez Edwarda Kanię. Z zadaniem walczyli przez rok studenci i asystenci, w
            październiku 1980 rozwiązanie podał rozpoczynający studia Sławomir Kołodziej.</p>

        <p>W latach 80. i 90. Koło kultywowało i umacniało tradycję Szkół Letnich i Zimowych, Quasinariów, Balów:
            Andrzejkowego i Matematyka odbywały się odczyty i spotkania z ludźmi nauki. Pojawiły się także nowe formy
            działalności, np. pomoc w organizowaniu Olimpiad Matematycznych dla uczniów szkół średnich oraz zjazdów
            Polskiego Towarzystwa Matematycznego. Brano aktywnie udział w Studenckich Olimpiadach Matematycznych.</p>

        <p>W roku 1983 odbyła się w Warszawie najważniejsza światowa konferencja matematyczna, Międzynarodowy Kongres
            Matematyków. Koło w sposób niestandardowy zaznaczyło na nim swoją obecność. Zorganizowano mini-turniej gry w
            ogórka dla obecnych tam prezesów Koła, a zaproszenie nań („Great Traditional Meeting – Presidents’
            Cucumber”) zostało powieszone obok ogłoszeń o spontanicznie organizowanych mini-seminariach.</p>

        <p>W roku 1986 odbył się pierwszy mecz piłkarski „Pracownicy–Studenci”. Pierwszą, historyczną bramkę strzelił co
            prawda pracownik, ale, jak twierdzili złośliwi, choć podstawowym kryterium przy kompletowaniu drużyny
            pracowników była umiejętność odróżnienia swojej bramki od bramki przeciwnika, to jednak nie wszyscy zostali
            przetestowani w tej umiejętności.</p>

        <p>W innej formie powróciła działalność wydawnicza. Opublikowano dwa mini-skrypty z dorobkiem Koła w „matematyce
            na wesoło”: „Rozmaitości absurdalne” (I wydanie: 1978–1981 – tyle trwało uzyskanie zgody na druk i druku; do
            dziś – 5 wydań) i „Rozmaitości uśmiechnięte” (I wydanie: 1986–87; do dziś 6 wydań). W roku 1986 powstał też
            „Semi-śpiewnik Koła Matematyków”. Przedmowy do wydań w 1998 i 1999 napisali kolejno Józef Piórek oraz
            Krzysztof Ciesielski.</p>

        <p>W latach 1993-1994 uroczyście obchodzono jubileusz 100-lecia Koła. Na specjalnie zorganizowanej sesji
            wystąpiło wielu niegdyś aktywnych członków Koła, a profesor Andrzej Lasota opowiedział, jak w latach
            siedemdziesiątych rozwiązał pozytywnie zadany mu przez złośliwych studentów Koła problem, czy matematyka
            opiera się na grzbietach trzech słoni. Po prostu pokazał profesorów Łojasiewicza, Siciaka i siebie i
            stwierdził, że to są te trzy słonie, na których matematyka się opiera...</p>

        <p>Bardzo ważny dla Koła okazał się rok 1998, kiedy to grupa działaczy Koła, pod przewodnictwem ówczesnej prezes
            Anny Stasicy, zorganizowała konferencję dla młodych matematyków. 15 uczestników – studentów, głównie z
            Krakowa, przez tydzień, zgłębiało tajniki geometrii algebraicznej i analitycznej. Zajęcia prowadzili
            pracownicy PAN oraz Zakładu Geometrii Algebraicznej i Analitycznej UJ… Rok później, w II Warsztatach,
            uczestniczyły już 53 osoby. Z każdym rokiem przybywało ich coraz więcej, pojawili się też pierwsi uczestnicy
            z zagranicy – z Politechniki i Uniwersytetu we Lwowie oraz wykładowcy z Belgii i Francji. Kolejnymi tematami
            były: równania różniczkowe i układy dynamiczne, teoria osobliwości, analiza zespolona, teoria aproksymacji,
            teoria operatorów, matematyka stosowana, geometria. VII edycja Warsztatów zyskała już miano Międzynarodowych
            i dominującym językiem konferencji stał się angielski. Wówczas pobity został rekord 202 uczestników, ale w
            kolejnych latach 2005 i 2006 liczba ta, ze względów organizacyjnych, musiała zostać ograniczona do 150.
            Warsztaty są obecnie największą w Polsce konferencją naukową dla studentów. Jest to najważniejsze z
            przedsięwzięć, jakie Koło obecnie podejmuje.</p>

        <p>Z czasem, razem ze Studenckim Kołem Matematyków AGH, Koło rozpoczęło organizację innego wydarzenia –
            Ogólnopolskiej Sesji Studentów Matematyki – przypadającej na grudzień konferencji matematycznej, w trakcie
            której uczestnicy mogą wziąć udział w licznych prelekcjach i referatach, a także wygłosić własne prace i
            zaprezentować plakaty.</p>

        <p>Koło ma refleksyjny stosunek do swojej historii i tradycji. Świadczy o tym uroczyste obchodzenie jubileuszy.
            Na przykład w roku 1964 z okazji 70-lecia Koła zorganizowało okolicznościowy bal, podczas specjalnego
            walnego zebrania z okazji 90-lecia Koła wspomnieniami dzielili się m. in. profesorowie Stanisław
            Łojasiewicz, Józef Siciak, Andrzej Pelczar, Bolesław Szafirski. W lokalu Koła – z inicjatywy pana Andrzeja
            Bindy – wiszą zdjęcia wszystkich Prezesów. 100-lecie Koła obchodzone było za prezesury Dariusza Cichonia.
            Natomiast obchody 50-lecia reaktywacji Koła trwały aż 3 dni zwieńczone zdmuchnięciem 50 świeczek z wielkiego
            jubileuszowego tortu.</p>

        <p>W związku z wybuchem pandemią COVID-19 12 marca 2020 roku studenci w całej Polsce przestali uczęszczać
            stacjonarnie na zajęcia na uczelni, jednak kołowicze przy pomocy różnych platform internetowych dalej
            kultywowali swoje tradycje, prowadząc wersje online Konkursu na Cytat Roku i Cytat Kołowicza oraz
            organizując pierwsze w historii zdalne Quasinarium Wiosenne i Ogólnopolską Szkołę Przedsesyjną - serię
            wykładów i warsztatów dla studentów pierwszego roku matematyki.</p>

        <p>I tak dzisiaj Koło Matematyków Studentów Uniwersytetu Jagiellońskiego im. prof. Stanisława Zaremby dalej
            buduje swoją historię w sali nr 1008 na Wydziale Matematyki i Informatyki UJ.</p>

        <p><em>Źródła: Anna Maria Kos, Krzysztof Ciesielski, Danuta Ciesielska, Antoni Leon Dawidowicz, Andrzej Grzesik,
            Zdzisław Pogoda, Edward Tutaj, Anna Valette</em></p>
    </section>
</article>
{% endblock %}
