{% extends "base/_base.html" %}
{% block css %}
{{ super() }}
<link href="{{ url_for('static', filename='css/base/index.sass.css') }}" rel="stylesheet">
{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename='js/base/index.js') }}"></script>
{% endblock %}

{% block content %}
<section id="image" class="layer">
    <img class="ground" id="kmsintroimg" src={{ url_for('static', filename = 'images/photos/kmsuj.jpg') }} alt="koło
    matematyków studentów" title="koło mateamtyków studentów">
    <img class="ground" id="historyimg" src={{ url_for('static', filename = 'images/photos/history.jpg') }}
    alt="president board" title="president board">
    <img class="ground" id="cnfrncimg" src={{ url_for('static', filename = 'images/photos/confrnce.jpg') }}
    alt="conference" title="conference">
    <img class="ground" id="backsideimg" src={{ url_for('static', filename = 'images/photos/backside.jpg') }}
    alt="backside" title="backside">
</section>

<section id="article" class="layer">
    <h1 class="tall">Koło Matematyków Studentów</h1>
    <article id="kmsintro">
        <p>Koło Matematyków Studentów Uniwersytetu Jagiellońskiego im. prof. Stanisława Zaremby jest organizacją
            studencką, mającą na celu zapewnienie entuzjastom matematyki możliwości spotykania się ze sobą i zgłębiania
            wspólnych zainteresowań. KMSuj daje swoim członkom niesamowite możliwości rozwoju zarówno naukowego, jak i
            społecznego. Wyjeżdżamy na konferencje, organizujemy sesje referatowe, doradzamy sobie w problematycznych
            zagadnieniach, ale również jemy wspólnie posiłki, gramy wieczorami w planszówki, a w przerwach między
            zajęciami rozmawiamy na wszelakie tematy, siedząc godzinami na naszych trzech kołowych kanapach.</p>
        <div class="break"></div>
        {#<a class="button" href="{{ url_for('fellow.register') }}">Dołącz do nas</a>#}
    </article>

    <h1 class="tall">{{kmsage}} lat historii</h1>
    <article id="history">
        <p>Historia Koła rozpoczyna się 3 grudnia 1893 roku, kiedy dwudziestu studentów matematyki i fizyki Wydziału
            Filozoficznego postanowiło założyć Kółko Matematyczno-Fizyczne Uczniów Uniwersytetu Jagiellońskiego. I tak
            od ponad 100 lat, będąc jednym z najstarszych kół naukowych w Polsce, łączymy tradycję z nowymi pomysłami.
            Co roku organizujemy wyjazdy naukowo-integracyjne, Quasinaria czy Szkoły Letnie i Zimowe. Przygotowujemy
            również takie wydarzenia jak Bal Andrzejkowy, Spotkania z Ciekawym Człowiekiem czy Mikołajkowy Turniej
            Szachowy.</p>
        <div class="break"></div>
        <a class="button" href="{{ url_for('base.history') }}">Więcej historii</a>
    </article>

    <h1 class="wide">Konferencje</h1>
    <article id="cnfrnc">
        <p>We wrześniu 1998 zorganizowano wydarzenie mające wywrzeć wielki wpływ na współczesne dzieje Koła – pierwszą
            konferencję dla młodych matematyków. Z biegiem lat Warsztaty stawały się bardziej popularne i dzisiaj
            Międzynarodowe Warsztaty dla Młodych Matematyków przyciągają co roku studentów z całego świata. Z czasem,
            razem ze Studenckim Kołem Matematyków AGH, rozpoczęliśmy organizację innego wydarzenia – Ogólnopolskiej
            Sesji Studentów Matematyki – przypadającej na grudzień konferencji matematycznej, w trakcie której
            uczestnicy mogą wziąć udział w licznych prelekcjach i referatach, a także wygłosić własne prace i
            zaprezentować plakaty.</p>
        <div class="break"></div>
        <div class="buttons">
            <a class="button" href="">Warsztaty</a>
            <div class="break vertical"></div>
            <a class="button" href="">OSSM</a>
        </div>
    </article>

    <section id="icons">
        <a class="icon" href="{{ url_for('base.board') }}">
            <img src="{{ url_for('static', filename='images/icons/brd.svg') }}">
            <h4>Zarząd</h4>
        </a>
        <a class="icon" href="http://kmsuj.im.uj.edu.pl/biblioteka/katalog.php">
            <img src="{{ url_for('static', filename='images/icons/lib.svg') }}">
            <h4>Biblioteka</h4>
        </a>
        <a class="icon" href="{{ url_for('base.contact') }}">
            <img src="{{ url_for('static', filename='images/icons/cnt.svg') }}">
            <h4>Kontakt</h4>
        </a>
    </section>
</section>

{% endblock %}
