{% extends "fellow/_auth.html" %}
{% import "_form.html" as f %}

{% block content %}
<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <section class="fieldset">
    <label class="fieldset">Edit</label>
    {{ f.textfield(form.name) }}
    {{ f.textfield(form.surname) }}
    {{ f.textfield(form.studentid) }}
    {{ f.textfield(form.phone) }}
    {{ f.textfield(form.shirt) }}

    {{ f.switchfield(form.wycinek) }}
    {{ f.switchfield(form.cnfrnce) }}
    {{ f.switchfield(form.anteomnia) }}
    {{ f.switchfield(form.fotki) }}
    {{ f.switchfield(form.fszysko) }}
    {{ form.submit() }}
  </section>
</form>
{% endblock %}
