{% extends "fellow/_auth.html" %}
{% import "_form.html" as f %}

{% block content %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <section class="fieldset">
        <label class="fieldset">Edit</label>
        {{ f.textfield(form.name) }}
        {{ f.textfield(form.surname) }}
        {{ f.textfield(form.studentid) }}
        {{ f.textfield(form.phone) }}
        {{ f.textfield(form.shirt) }}

        {{ form.submit() }}
        <div class="break"></div>
        <a class="button" href="{{ url_for('fellow.logout') }}">Logout</a>
    </section>
</form>
{% endblock %}
