{% extends "fellow/_auth.html" %}
{% import "_form.html" as f %}

{% block css %}
{{ super() }}
<link href="{{ url_for('static', filename='css/fellow/panel.sass.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ f.searchfield(form.search, form.submit) }}
    {{ form.active }}

    {% for fellow in fellows %}
    <article class="fellowbar">
        <a class="padded" href="{{ url_for('fellow.view', id=fellow.id) }}"><h4>{{ fellow.name }} {{ fellow.surname
            }}</h4></a>

        {% if fellow.check_board('fellow') %}
        <h7>{% if fellow.check_board('active') %}Active {% endif %}Fellow of the Society</h7>
        <h8>since {{ fellow.joined.strftime('%Y %B %d') }}</h8>
        <h8>id number: {{ fellow.kmsid }}</h8>
        {% else %}
        <h7>Friend of the Society</h7>
        {% endif %}
    </article>
    {% if not loop.last %}
    <div class="break"></div>
    {% endif %}
    {% endfor %}
    {{ checksum }}
</form>
{% endblock %}
