{% extends "base/_base.html" %}

{% macro view(article, last=False) %}
<article class="article">
    <a class="titlelink" href="{{ url_for('article.view', id=article.id) }}"><h3>{{ article.title|title }}</h3></a>
    <div id="tagcontainer">
        {% for tag in article.tags %}
        <a class="tag" href="{{ url_for('article.index', tagline=tag.line) }}"><span class="tag valid nocross">#{{ tag.line }}</span></a>
        {% endfor %}
    </div>
    <div class="break"></div>
    <h7>umieszczono {{ article.posted.strftime('%Y %b %d') }}</h7>
    <section class="articlebody">{{ article.body|truncate(432)|markdown }}</section>
    <a class="titlelink" href="{{ url_for('article.view', id=article.id) }}">
        <h7>... czytaj dalej</h7>
    </a>
</article>
{% if not last %}
<div class="linebreak long"></div>
{% endif %}
{% endmacro %}

{% block css %}
{{ super() }}
<link href="{{ url_for('static', filename='css/article/article.sass.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
{% for article in articles.items %}
{{ view(article, last=loop.last)}}
{% endfor %}
{% if articles.has_prev %}
<a class="button" , href="{{ url_for('article.index', tagline=tagline, page=articles.prev_num) }}">Nowsze</a>
<div class="break"></div>
{% endif %}
{% if articles.has_next %}
<a class="button" , href="{{ url_for('article.index', tagline=tagline, page=articles.next_num) }}">Starsze</a>
<div class="break"></div>
{% endif %}
{% endblock %}
